
.background-img {
    //--ion-background-color:#AF5921;
    //--background: url(../../assets/lenguajes.png);
}

.placeholder-text {
    --placeholder-color:black;
}

.ion-background-color {
    --ion-background-color: #EEEBD5;
}

.background-color {
    --background:#EEEBD5;
    --color:gray;
}


