
.background-img {
  //--background: url(../../assets/chat.jpg);
  //--background:rgb(172, 172, 172);
  //--background:linear-gradient(rgb(75, 186, 231), rgb(7, 246, 146));
  //--background: rgb(75, 186, 231);
  --background: #73deff;
}


.background-color {
  --background:rgb(114, 106, 106);
   --color:rgb(255, 255, 255);
 }

 
.placeholder-text {
  --placeholder-color:rgb(0, 0, 0);
  text-align: center;
}

.t-color {
  --color:rgba(0, 0, 0, 0.514);
}

.ion-background-color {
    --ion-background-color:rgba(0, 0, 0, 0);
}