<ion-content class="background-img" [formGroup]="pwdForm">
	<section class="full-width" style="height: 46%;">
		<ion-fab-button color="light" style="height: 100%; width: auto; margin-top: 45%; margin-right: 2rem; margin-left: 2rem;">
			<img *ngIf="!on" src="/assets/off.png" (click)="onClick()">
			<img *ngIf="on" src="/assets/on.png" (click)="offClick()">
		</ion-fab-button>
	</section>
	<ion-grid>	
		<ion-row class="mt-4">
			<ion-col size="2"></ion-col>
			<ion-col size="8">
				<ion-item class="ion-background-color">
					<ion-input required class="placeholder-text t-color" type="password" placeholder="Contraseña" formControlName="password"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col size="2"></ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>